.quantity-chip {
    background-color: #683436;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    top: 25px;
    left: 10px;
    cursor: default;
}

.rm-bottle {
    height : 40px;
    width: auto;
    cursor: pointer;
    top: 35%;
}