#ProductCard {
    position: relative;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

#ProductCard h2 {
    min-height: 50px;
}

#ProductCard section {
    width: 60%;
    margin-left: 10px;
}

.quantity-chip {
    background-color: #683436;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    top: 25px;
    left: -5px;
    cursor: default;
}

.rm-bottle {
    height : 40px;
    width: auto;
    cursor: pointer;
}